.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.link{
  display: flex;
  justify-content: space-around;
  list-style: none;

}
 
ul{
  list-style: none;
}
img{
  height: 40px;
  width: 30px;
}
.pagi{
  display: flex;
  list-style:none;
  justify-content: center;
  cursor: pointer;
  
}
.pagi li {
  height: 30px;
  width: 30px;
  line-height:30px;
  background: #ccc;
  text-align: center;
  border:1px solid #fff;
}
.pagi li:first-child {
  border-radius:5px 0 0 5px;
}
.pagi li:last-child {
  border-radius:0 5px 5px 0px;
}
.pagi li.active{
  background: #777;
}
a{
  text-decoration: none !important
}